{% extends 'account/base.html'%}
{%block title%}
<title>Course</title>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
{%endblock%}
{% block content%}
<div class="container-courses">
    <div class="course live-course">
        <div class="icon"><i class="fa fa-book" aria-hidden="true"></i>
        </div>
        <p class="heading">Live Courses</p>
        <hr style="margin: 20px;">
        <p>This course is based on live chat</p>
        <a href="#">Check out Course</a>
    </div>
    <div class="course live-course">
        <div class="icon"><i class="fa fa-book" aria-hidden="true"></i>
        </div>
        <p class="heading">Online Courses</p>
        <hr style="margin: 20px;">
        <p>This course is based on video lectures</p>
        <a href="#">Check out Course</a>
    </div>
    <div class="course live-course">
        <div class="icon"><i class="fa fa-book" aria-hidden="true"></i>
        </div>
        <p class="heading">Offline Courses</p>
        <hr style="margin: 20px;">
        <p>This course is based on offline material</p>
        <a href="#">Check out Course</a>
    </div>
    
</div>
<div style="text-align:center;">We are working on some courses and will be launched soon !</div>
{%endblock %}