{% extends 'account/base.html'%}
{%block title%}
<title>Topics</title>
{%endblock%}
{% block content%}
<div class="container-practice-question">
    <div class="subject-container">
        <p style="margin: 0.8rem auto;">This is topic tag </p>
        <hr style="margin: 10px auto;width: 80%;">
        <div class="quantity-info">
            <p>Problems Included : 34</p>
            <p>Solution available : 23</p>
        </div>
        <a href="#">Check out</a>
    </div>
    <div class="subject-container">
        <p style="margin: 0.8rem auto;">This is topic tag </p>
        <hr style="margin: 10px auto;width: 80%;">
        <div class="quantity-info">
            <p>Problems Included : 34</p>
            <p>Solution available : 23</p>
        </div>
        <a href="#">Check out</a>
    </div>
    <div class="subject-container">
        <p style="margin: 0.8rem auto;">This is topic tag </p>
        <hr style="margin: 10px auto;width: 80%;">
        <div class="quantity-info">
            <p>Problems Included : 34</p>
            <p>Solution available : 23</p>
        </div>
        <a href="#">Check out</a>
    </div>
    <div class="subject-container">
        <p style="margin: 0.8rem auto;">This is topic tag </p>
        <hr style="margin: 10px auto;width: 80%;">
        <div class="quantity-info">
            <p>Problems Included : 34</p>
            <p>Solution available : 23</p>
        </div>
        <a href="#">Check out</a>
    </div>
    <div class="subject-container">
        <p style="margin: 0.8rem auto;">This is topic tag </p>
        <hr style="margin: 10px auto;width: 80%;">
        <div class="quantity-info">
            <p>Problems Included : 34</p>
            <p>Solution available : 23</p>
        </div>
        <a href="#">Check out</a>
    </div>    
    <div class="subject-container">
        <p style="margin: 0.8rem auto;">This is topic tag </p>
        <hr style="margin: 10px auto;width: 80%;">
        <div class="quantity-info">
            <p>Problems Included : 34</p>
            <p>Solution available : 23</p>
        </div>
        <a href="#">Check out</a>
    </div>
    <div class="subject-container">
        <p style="margin: 0.8rem auto;">This is topic tag </p>
        <hr style="margin: 10px auto;width: 80%;">
        <div class="quantity-info">
            <p>Problems Included : 34</p>
            <p>Solution available : 23</p>
        </div>
        <a href="#">Check out</a>
    </div>
    <div class="subject-container">
        <p style="margin: 0.8rem auto;">This is topic tag </p>
        <hr style="margin: 10px auto;width: 80%;">
        <div class="quantity-info">
            <p>Problems Included : 34</p>
            <p>Solution available : 23</p>
        </div>
        <a href="#">Check out</a>
    </div>
    <div class="subject-container">
        <p style="margin: 0.8rem auto;">This is topic tag </p>
        <hr style="margin: 10px auto;width: 80%;">
        <div class="quantity-info">
            <p>Problems Included : 34</p>
            <p>Solution available : 23</p>
        </div>
        <a href="#">Check out</a>
    </div>
    <div class="subject-container">
        <p style="margin: 0.8rem auto;">This is topic tag </p>
        <hr style="margin: 10px auto;width: 80%;">
        <div class="quantity-info">
            <p>Problems Included : 34</p>
            <p>Solution available : 23</p>
        </div>
        <a href="#">Check out</a>
    </div>
    <div class="subject-container">
        <p style="margin: 0.8rem auto;">This is topic tag </p>
        <hr style="margin: 10px auto;width: 80%;">
        <div class="quantity-info">
            <p>Problems Included : 34</p>
            <p>Solution available : 23</p>
        </div>
        <a href="#">Check out</a>
    </div>
    <div class="subject-container">
        <p style="margin: 0.8rem auto;">This is topic tag </p>
        <hr style="margin: 10px auto;width: 80%;">
        <div class="quantity-info">
            <p>Problems Included : 34</p>
            <p>Solution available : 23</p>
        </div>
        <a href="#">Check out</a>
    </div>
    <div class="subject-container">
        <p style="margin: 0.8rem auto;">This is topic tag </p>
        <hr style="margin: 10px auto;width: 80%;">
        <div class="quantity-info">
            <p>Problems Included : 34</p>
            <p>Solution available : 23</p>
        </div>
        <a href="#">Check out</a>
    </div>
    <div class="subject-container">
        <p style="margin: 0.8rem auto;">This is topic tag </p>
        <hr style="margin: 10px auto;width: 80%;">
        <div class="quantity-info">
            <p>Problems Included : 34</p>
            <p>Solution available : 23</p>
        </div>
        <a href="#">Check out</a>
    </div>
    <div class="subject-container">
        <p style="margin: 0.8rem auto;">This is topic tag </p>
        <hr style="margin: 10px auto;width: 80%;">
        <div class="quantity-info">
            <p>Problems Included : 34</p>
            <p>Solution available : 23</p>
        </div>
        <a href="#">Check out</a>
    </div>
    <div class="subject-container">
        <p style="margin: 0.8rem auto;">This is topic tag </p>
        <hr style="margin: 10px auto;width: 80%;">
        <div class="quantity-info">
            <p>Problems Included : 34</p>
            <p>Solution available : 23</p>
        </div>
        <a href="#">Check out</a>
    </div>
</div>
{%endblock %}